body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

*{
    box-sizing:border-box;
}

#content1 {
    background-color: #E9967A;
    padding: 10px 10px 10px 10px;
    border: 3px solid black;
    margin: 40px;
    width: 300px
}

#content2 {
    background-color:aqua;
    padding: 10x 10x 10x 10x;
    border: 3x solid black;
    margin: 40px;
    width: 300px
}

#content3{
    background-color:cornflowerblue;
    padding: 10x 10x 10x 10ex;
    border: 3x solid black;
    margin: 40px;
    width: 300px;
}